@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

body { 
    font-family: 'Wix MadeFor Text',sans-serif;
    text-align: center; 
    color: aliceblue; 
    background-color: #181818;
}

h1{
font-size: 20px;
text-transform: uppercase;
}
h2{
margin-top: 16px;
font-size: 13px;
}
.input { margin: 10px 0;
     padding: 8px; 
     width: 80%; 
     border-radius: 5px; 
     background-color: rgb(231, 231, 231);
     border-style: none;
     color: rgb(0, 0, 0);
     font-weight: 700;
     border: none;
}
button { 
     margin: 10px;
     padding: 10px 42px; 
     color: rgb(0, 0, 0); 
     background-color: #ff5f5f; 
     border-radius: 5px; 
     border-style: none; 
     cursor: pointer;
     font-weight: 700;
     align-items: center;
     justify-content: center;
     transition: background-color 0.3s ease;
}

button:hover{
     background-color: #ffc1c1; 
}

.contentebtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tooltip {
    position: relative;
    display: inline-block;
  }


  .tooltip .tooltip-text {
    visibility: hidden; 
    background-color: #0000007a; 
    color: #fff; 
    text-align: center; 
    border-radius: 5px; 
    padding: 5px 30px; 
    position: absolute; 
    z-index: 1; 
    bottom: 125%; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s; 
  }

  /* Setinha do tooltip */
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 100%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #d7d7d7 transparent transparent transparent;
    display: none;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .destaque{
    background-color: #383838;
    border-radius: 20px;
    padding: 5px;
  }

  #progress-bar {
    width: 0%;
    height: 20px;
    background-color: #36FFC0;
    
  }
  #status {
    margin-top: 20px;
  }